.cartDiv{
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    
}

.tableHeading{
    display: flex;
    font-size: 30px;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;

}
.th{
    margin-left: 200px;
}

.td img{
    width: 100px;
    height: 100px;
}
.tableData{
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    align-items: center;
}
.td{
    margin-left: 200px;
}